# Misc environment variables 
export PATH=$HOME/bin:/usr/local/bin:$PATH
CONFIG="$HOME/.config"

source $CONFIG/zsh/xdg.sh
source $CONFIG/zsh/oh-my-zsh.sh
source $CONFIG/zsh/bat.sh
source $CONFIG/zsh/chezmoi.sh
source $CONFIG/zsh/direnv.sh
source $CONFIG/zsh/gh-copilot.sh
source $CONFIG/zsh/lazygit.sh
source $CONFIG/zsh/neovim.sh
{{ if eq .osid "darwin" -}}
source $CONFIG/zsh/wezterm.sh
{{ end -}}
source $CONFIG/zsh/zoxide.sh

if [ -f $HOME/.zshrc.local ]; then
  source $HOME/.zshrc.local
fi

source $HOME/.local/bin/env
