{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

command -v docker >/dev/null || exit 0

if ! getent group docker >/dev/null 2>&1; then
  sudo groupadd docker
fi
sudo usermod -aG docker "$USER"
sudo systemctl enable --now docker
{{ end -}}
